<div class="record" id="record<%= record.id %>">
  <div class="record_title"><a class="record_title_href" href="<%= record.link %>"><%= record.title %></a></div>
  <div class="record_body"><%= raw record.description %></div>
  <div class="record_footer"><%= "Posted at #{record.posted_at} by #{record.author}" %></div>
  <div>
    <%# See Feed.STATUSES %>
    <%= button_to 'Mark Unresolved', { :action => 'update_status', :id => record, :status => 0}, :remote => true, :style => 'float: left;' unless record.status == :unread %>
    <%= button_to 'Mark In progress', { :action => 'update_status', :id => record, :status => 1}, :remote => true, :style => 'float: left;' unless record.status == :in_progress %>
    <%= button_to 'Mark Resolved', { :action => 'update_status', :id => record, :status => 2}, :remote => true, :style => 'float: left;' unless record.status == :resolved %>
    <span style="margin-left:30px;"><%= record.status.to_s + ' by ' + (record.user.nil? ? "anonymous" : record.user.full_name) unless record.status == :unread %></span>
    <div style="clear: both"></div>
  </div>
</div>