<div id="content">
  <div id="feedbacks">
    <h2>Recent</h2>
    <%= will_paginate @records %>
    <div id="feedback_list">
      <%= render :partial => 'record', :collection => @records %>
    </div>
    <%= will_paginate @records %>
  </div>
  <div id="filters">
    <h2>Filters</h2>
    <%= form_for :filter, {:url => {:action => 'update_filter'}, :remote => true}, :html => {:id => 'filters_form'} do |f| %>
      <% only_watched = @filters.nil? ? false : @filters[:only_watched] %>
      <%= f.radio_button :only_watched, false, :checked => !only_watched, :disabled => !user_signed_in?, :onchange => "$('filters_form').submit()" %>
      <%= f.label :only_watched, 'All' %><br />
      <%= f.radio_button :only_watched, true, :checked => only_watched, :disabled => !user_signed_in?, :onchange => "$('filters_form').submit()"  %>
      <%= f.label :only_watched, 'Only my' %><br />
    <% end %>
  </div>
  <script type="text/javascript">
    document.observe("dom:loaded", function() {
      <%= remote_function :url => {:action => 'update_posts'}, :with => 'collect_record_ids()' %>
    });
  </script>
</div>