<!DOCTYPE html>
<html>
<head>
  <title>FeedbackAggregator</title>
  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag "application" %>
</head>
<body>
<div>
  <h2 style="cursor:pointer; float:left; font-style: italic; margin: 10px; " onclick="window.location='/'" >Feedback list</h2>
  <div style='float:right'>
      <%= render 'shared/auth_block' %>
  </div>
  <div style='clear: both'></div>
</div>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>